<section>
  <h1>OUR MENU</h1>

  <div class="menu">
    <div class="dishes">
      <img src="../../assets/img/r1.png" />
      <div>
        <h2>Tonkasu Ramen</h2>
        <div class="prices">
          <span>CHICKEN</span>
          <span>11.95€</span>
        </div>
        <div class="prices">
          <span>BEEF</span>
          <span>11.95€</span>
        </div>
        <div class="prices">
          <span>SHRIMP</span>
          <span>11.95€</span>
        </div>
      </div>
    </div>
    <div class="dishes">
      <div>
        <h2>Spicy Miso Ramen</h2>
        <div class="prices">
          <span>CHICKEN</span>
          <span>11.95€</span>
        </div>
        <div class="prices">
          <span>BEEF</span>
          <span>11.95€</span>
        </div>
        <div class="prices">
          <span>SHRIMP</span>
          <span>11.95€</span>
        </div>
      </div>
      <img src="../../assets/img/r2.png" />
    </div>
    <div class="dishes">
      <img src="../../assets/img/r3.png" />
      <div>
        <h2>Shio Ramen</h2>
        <div class="prices">
          <span>CHICKEN</span>
          <span>11.95€</span>
        </div>
        <div class="prices">
          <span>BEEF</span>
          <span>11.95€</span>
        </div>
        <div class="prices">
          <span>SHRIMP</span>
          <span>11.95€</span>
        </div>
      </div>
    </div>
  </div>
</section>
